.tutorial {
	width: 600px;
	text-align: center;
	margin: auto;
}

figure.image {
	display: flex;
	justify-content: center;
	background-color: black;
}

figure .image img {
	width: 128px;
}

.notification {
	margin-top: 20px !important;
}

.results {
	max-height: 500px;
	overflow-y: scroll;
}

.title .icon {
	margin-left: 15px;
}

.hero {
	margin-bottom: 20px;
}

.forms {
	display: flex;
	justify-content: space-around;
}

.dropdown-item {
	display: flex;
	align-items: center;
	height: 60px;
}

.dropdown-item img {
	height: 50px;
	margin-right: 10px;
}

.card-image img {
	width: 20vmax;
}

.displayResult-1,
.displayResult-2 {
	display: block;
	width: 100%;
	margin: 2vmin;
}
.card-image {
	text-align: center;
}
.card-content > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card-content {
	/* display: flex;
	flex-direction: column;
	justify-content: space-between; */
}
.card-content > div {
	margin-bottom: 2vmin;
	border: 1px solid grey;
	font-size: 1.5vmax;
	font-family: monospace;
	font-weight: 1000;
}
#left,
#right {
	border: 1px solid black;
	width: 40%;
}
